<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" data-background-color="red">
                <h4 class="title">Add New Task</h4>
            </div>
            <div class="card-content">
              <form name="taskForm" ng-submit="addTask(task)" ng-init="getDepartments();">
                <div class="form-group">
                  <label for="name">Task :</label>
                  <input type="text" class="form-control" ng-model="task.task" required>
                </div>
                <div class="form-group">
                    <label for="deadline">Deadline:</label>
                    <input type="date" class="form-control" ng-model="task.deadline" required>
                    </div>
                    <div class="form-group">
                      <label for="dept">Department:</label>
                      <select id="departmentSelector" ng-model="task.department" required>
                        <option ng-repeat="x in departments">{{x.name}}</option>
                      </select>
                    </div>
                <div class="form-group">
                  <label for="description">Description:</label>
                  <input type="text" class="form-control" ng-model="task.description" required>
                </div>
         
                <button type="submit" class="btn btn-success">Save</button>
                <a href="#!/tasks" class="btn btn-danger"> Cancel</a>
            </form>
            </div>
        </div>
    </div>
  </div>