<div class="card-content table-responsive" ng-init="showSeminar()">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header" data-background-color="blue">
                    <h4 class="title">Seminar Details</h4>
                </div>
                <div class="card-content">
                    <form>
                        <div class="form-group">
                            <label class="form-control"><b>Name:</b> {{ seminar.name }}</label>
                            <label class="form-control"><b>Topic:</b> {{ seminar.topic }}</label>
                            <label class="form-control"><b>Held by:</b> {{ seminar.by }}</label>
                            <label class="form-control"><b>Date:</b> {{ seminar.date }}</label>
                            <label class="form-control"><b>Place:</b> {{ seminar.place }}</label>
                            <label class="form-control"><b>Time:</b> {{ seminar.time }}</label>
                            <label class="form-control"><b>ID:</b> {{ seminar._id }}</label>
                            <a href="#!/user/dashboard" class="btn btn-danger"> Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>